<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bike - {{id}}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        <section class="hero is-danger">
            <div class="hero-body">
                <p class="title">Velo</p>
                <p class="subtitle">{{id}}</p>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <h1 class="title">Info</h1>

                <b>Id: </b> {{id}}<br>
                <b>Maintenance State: </b> 
                {{#maintenance}}<span class="has-text-danger"><i class="fa-solid fa-heart-crack"></i></span>{{/maintenance}} 
                {{^maintenance}}<span class="has-text-success"><i class="fa-solid fa-heart-circle-check"></i></span>{{/maintenance}}<br>

                <b>State: </b> {{location.state}} <br>

                {{#location.stationid}}
                <b>Location: </b> <a href="../stations/{{location.stationid}}.html">{{location.station}}</a> <br>
                <b>Slot: </b> {{location.slot}}
                {{/location.stationid}}
            </div>
        </section>
    </body>
</html>
