<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Station - {{name}}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>
    <body>
        <section class="hero is-link">
            <div class="hero-body">
                <p class="title">Velo Station</p>
                <p class="subtitle">{{name}}</p>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <h1 class="title">Info</h1>

                <b>Available Bikes: </b> {{amount}}<br>
                <b>Address: </b> {{address}}
            </div>
        </section>

        <section class="section">
            <div class="container">
                <h1 class="title">Slots</h1>
                <h2 class="title is-4">Used</h2>

                <table class="table" width="100%">
                    <thead>
                        <th>Slot Number</th>
                        <th>Bike Id</th>
                    </thead>
                    {{#full}}
                    <tr>
                        <td>
                            {{id}}
                        </td>
                        <td>
                            <a href="../bikes/{{bike}}.html">{{bike}}</a>
                        </td>
                    </tr>
                    {{/full}}
                </table>

                <h2 class="title is-4">Empty</h2>
                <table class="table" width="100%">
                    <thead>
                        <th>Slot Number</th>
                        <th>Bike Id</th>
                    </thead>
                    {{#empty}}
                    <tr>
                        <td>
                            {{id}}
                        </td>
                        <td>
                            No bike in slot
                        </td>
                    </tr>
                    {{/empty}}
                </table>
            </div>
        </section>
    </body>
</html>
