<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{firstname}} {{lastname}}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>
    <body>
        <section class="hero is-success">
            <div class="hero-body">
                <p class="title">Velo User</p>
                <p class="subtitle">{{firstname}} {{lastname}}</p>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <h1 class="title">Info</h1>

                <b>Id: </b> {{id}}<br>
                <b>Firstname: </b> {{firstname}}<br>
                <b>Lastname: </b> {{lastname}}
            </div>
        </section>

        <section class="section">
            <div class="container">
                <h1 class="title">Trips</h1>

                <table class="table" width="100%">
                    <thead>
                        <th>Bike Id</th>
                        <th>Start</th>
                        <th>Destination</th>
                    </thead>
                    {{#trips}}
                    <tr>
                        <td>
                            <a href="../bikes/{{bike}}.html">{{bike}}</a>
                        </td>
                        <td>
                            <a href="../stations/{{start.id}}.html">{{start.name}}</a>
                        </td>
                        <td>
                            <a href="../stations/{{destination.id}}.html">{{destination.name}}</a>
                        </td>
                    </tr>
                    {{/trips}}
                </table>
            </div>
        </section>
    </body>
</html>
